.card {
  border: 5px solid var(--color-tertiary);
  color: var(--color-tertiary);
}

.btn-blue {
  background-color: transparent;
  border-color: var(--color-tertiary);

  color: var(--color-tertiary);

}

.btn-blue:hover {

  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);

  color: #fff;

}
