.banner-3 {
  position: relative;
  background-image: url("../../images/pic-7.jpg");
  background-size: cover;
  background-position: center center;
}
.banner3-content {
  position: absolute;
  width: 100%;
  top: -50%;
}
.banner-3 span {
  display: block;
  padding-bottom: 1rem;
  color: var(--color-tertiary);
  max-width: 10em;
  padding-top: 0em;
}

.embed-4by1, .embed--4by1 {
  padding-top: 40%;
}

@media only screen and (min-width: 25em) {

  .banner-3 span {
  padding-top: 2em;
  }

}

@media only screen and (min-width: 45em) {

  .banner3-content {
    padding: 5%;
    top: -5%
  }

  .embed-4by1, .embed--4by1 {
    padding-top: 25%;
  }

  .banner-3 span {
    max-width: 25em;
  }

}
