:root {
  --color-primary: #a5d2d2;/* Blue's Clues Blue */
  --color-secondary: #d13e27;/* Clifford's Coat */
  --color-tertiary: #3f429b;/* Blue dog collar */
  --color-defaut: black;
  --color-usual: white;

  --font-primary: "Raleway", sans-serif;/* Raleway - Regular */
  --font-secondary: "Kameron", serif;/* Kameron - Bold */

}

html, ul, ol, dl, p, strong, em, i, abbr {

  font-family: var(--font-primary);
  color: var(--color-defaut);
}

h1, blockquote {

  font-family: var(--font-secondary);
  font-weight: bold;
}

h2, h3, h4, h5 {

  font-family: var(--font-primary);
  font-weight: bold;
}

a {

  font-family: var(--font-primary);
  text-decoration: none;

}
