:root {
  --color-primary: #A5D2D2;/* Blue's Clues Blue*/
  --color-secondary: #D13E27;/*Clifford's Coat*/
  --color-tertiary: #3F429B;/*Blue dog collar*/
  --color-defaut: black;
  --color-usual: white;

  --font-primary: 'Raleway', sans-serif;/*Raleway - Regular*/
  --font-secondary: 'Kameron', serif;/*Kameron - Bold*/

/*
  --font-tertiary: "Roboto Slab", sans-serif;/*Raleway - italic*/
/*  --font-quaternary: "Roboto Slab", sans-serif;
  --font-quinary: "Roboto Slab", sans-serif; */
}

html, ul, ol, dl, p, strong, em, i, abbr {

  font-family: var(--font-primary);
  color: var(--color-defaut);
}

h1, blockquote {

  font-family: var(--font-secondary);
  font-weight: bold;
}

h2, h3, h4, h5 {

  font-family: var(--font-primary);
  font-weight: bold;
}

a {

  font-family: var(--font-primary);
  text-decoration: none;

}
